IO_LOC  "clk"         52;
IO_PORT "clk"         PULL_MODE=UP;

IO_LOC  "rst_n"       27;
IO_PORT "rst_n"       IO_TYPE=LVCMOS33;

IO_LOC  "uart_rx"   85;
IO_PORT "uart_rx"   IO_TYPE=LVCMOS33;

IO_LOC  "uart_tx"   84;
IO_PORT "uart_tx"   IO_TYPE=LVCMOS33;